{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ request.user.email }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
            <a class="nav-link active" href="#" id="inbox">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" id="compose">Compose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" id="sent">Sent</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link active" id="archived">Archived</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}" >LogOut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'sender' %}" >StartVideoCall</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'receiver' %}" >JoinVideoCall</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
    <!-- <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a> -->
    <!-- <hr> -->


    <div id="emails-view" class="container">
    </div>

    <div id="compose-view" class="container">
        <h3>New Email</h3>
        <div id="message"></div>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <script src="{% static 'mail/compose.js' %}"></script>
{% endblock %}